.metric-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 6px;
    background-color: #ff7b25;
}

.metric-item__metric {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-evenly;
    flex: 1;
}

.metric-item h3 {
    font-size: 1rem;
    flex: 1;
    color: white;
    margin: 0px;
}

.metric-item__count {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #d64161;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
}

.metric-item__date {
    font-size: 1rem;
    color: white;
    background-color: #6b5b95;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 6px;
    margin-right: 1rem;
}

@media (min-width: 580px) {
    .metric-item__metric {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }

    .metric-item h3 {
        font-size: 1.25rem;
    }

    .metric-item__count {
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem;
    }
}
